.button {
    margin-top: 10px;
    text-decoration: none !important;
    font: bold 12px 'Trebuchet MS',Arial, Helvetica; /*Change the em value to scale the button*/
    display: inline-block;
    text-align: center;
    border: 1px solid #9c9c9c; /* Fallback style */
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);    
    box-shadow: 0 0 .05em rgba(0,0,0,0.4);   
    width: 70px;
}

.button, 
.button span {
    -moz-border-radius: .3em;
    border-radius: .3em;
    color: #A9A9A9;
}

.button span {
    border-top: 1px solid #fff; /* Fallback style */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 0.5em;
    background-size: 3px 3px;            
}

.button:hover {
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}

.button:active {
    /* When pressed, move it down 1px */
    position: relative;
    top: 1px;
}

.button-blue {
    background: #4477a1;
    background: -webkit-gradient(linear, left top, left bottom, from(#3b3b3b), to(#3c3c3c) );
    background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3b3b3b', endColorstr='#3c3c3c');
}

.button-blue:hover {
    background: #81a8cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#3b3b3b) );
    background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#3b3b3b');            
}

.button-blue:active {
    background: #000000;
}

.button-search {
    background: #4477a1;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f3f0), to(#d1cbce) );
    background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f7f3f0', endColorstr='#d1cbce');
}

.button-search:hover {
    background: #81a8cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff) );
    background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#ffffff');            
}

.button-search:active {
    background: #f8f8f8;
}