.button {
	margin-top: 10px;
	text-decoration: none !important;
	font: bold 12px 'Trebuchet MS', Arial, Helvetica;
	/*Change the em value to scale the button*/
	display: inline-block;
	text-align: center;
	border: 1px solid #9c9c9c; /* Fallback style */
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 .05em rgba(0, 0, 0, 0.4);
	width: 70px;
}

.button .btn-board {
	height: 7px;
	padding: 4px 0px 10px 0px;
	color: black;
}

.button, .button span {
	border-radius: .3em;
	color: #A9A9A9;
}

.button span {
	border-top: 1px solid #fff; /* Fallback style */
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	display: block;
	padding: 0.5em;
	background-size: 3px 3px;
}

.button:hover {
	box-shadow: 0 0 .1em rgba(0, 0, 0, 0.4);
}

.button:active {
	/* When pressed, move it down 1px */
	position: relative;
	top: 1px;
}

.button-blue {
	background: #3c3c3c;
	background: -webkit-gradient(linear, left top, left bottom, from(#3b3b3b),
		to(#3c3c3c));
	background: -moz-linear-gradient(-90deg, #3b3b3b, #3c3c3c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#3b3b3b', endColorstr='#3c3c3c');
}

.register {
	width: 150px;
	height: 40px;
	font-size: 17px;
	margin-bottom: 10px;
}

.button-blue:hover {
	background: #3b3b3b;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000),
		to(#3b3b3b));
	background: -moz-linear-gradient(-90deg, #000000, #3b3b3b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#000000', endColorstr='#3b3b3b');
}

.button-blue:active {
	background: #000000;
}

.button-search {
	background: #d1cbce;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f3f0),
		to(#d1cbce));
	background: -moz-linear-gradient(-90deg, #f7f3f0, #d1cbce);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#f7f3f0', endColorstr='#d1cbce');
}

.button-search:hover {
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#ffffff));
	background: -moz-linear-gradient(-90deg, #ffffff, #ffffff);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#ffffff', endColorstr='#ffffff');
}

.button-search:active {
	background: #f8f8f8;
}

.button-green {
	background: #15aba0;
	background: -webkit-gradient(linear, left top, left bottom, from(#74e0d3),
		to(#15aba0));
	background: -moz-linear-gradient(-90deg, #74e0d3, #15aba0);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#74e0d3', endColorstr='#15aba0');
}

.button-green:hover {
	background: #85f1e4;
	background: -webkit-gradient(linear, left top, left bottom, from(#74e0d3),
		to(#85f1e4));
	background: -moz-linear-gradient(-90deg, #74e0d3, #85f1e4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#74e0d3', endColorstr='#85f1e4');
}

.button-green:active {
	background: #15aba0;
}

/* thoughtbot (inspired by thoughtbot.com)
*******************************************************************************/
button.thoughtbot {
	background-color: #ee432e;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e),
		color-stop(50%, #c63929), color-stop(50%, #b51700),
		color-stop(100%, #891100));
	background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%,
		#891100 100%);
	background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100
		100%);
	background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100
		100%);
	background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100
		100%);
	background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
	border: 1px solid #951100;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px
		#333333;
	box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
	color: #fff;
	font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
	padding: 9px 0 14px 0;
	text-align: center;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
	width: 120px;
	height: 40px;
	margin-bottom: 20px;
}

button.thoughtbot:hover {
	background-color: #f37873;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873),
		color-stop(50%, #db504d), color-stop(50%, #cb0500),
		color-stop(100%, #a20601));
	background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%,
		#a20601 100%);
	background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601
		100%);
	background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601
		100%);
	background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601
		100%);
	background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
	cursor: pointer;
}

button.thoughtbot:active {
	background-color: #d43c28;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28),
		color-stop(50%, #ad3224), color-stop(50%, #9c1500),
		color-stop(100%, #700d00));
	background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%,
		#700d00 100%);
	background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00
		100%);
	background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00
		100%);
	background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00
		100%);
	background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4);
	box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4);
}