a.btn_c {
	display: inline-block;
	width: 84px;
	height: 31px;
	border: 1px solid #dcdcdc;
	background: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 33px;
	color: #333;
	text-decoration: none;
}

.btn_mobile_submit, .btn_certify_submit {
	position: absolute;
	top: 8px;
	right: 8px;
}

a {
	text-decoration: none;
}

user agent stylesheeta:-webkit-any-link {
	color: -webkit-link;
	text-decoration: underline;
	cursor: auto;
}

.row_group, .ipin_box {
	border: solid 1px #dadada;
	background: #fff;
	margin-bottom: 10px;
}

div {
	display: block;
}

body, input, textarea, select, button, table {
	font-size: 12px;
	-webkit-text-size-adjust: none;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td,
	form, fieldset, legend, input, textarea, button, select {
	margin: 0;
	padding: 0;
}

.bir_yy, .bir_mm, .bir_dd {
	display: table-cell;
	width: 32%;
	table-layout: fixed;
	vertical-align: middle;
}

.country_code .sel_value {
	background: #fff;
}

.country_code .sel_value {
	display: block;
	padding: 6px 0 6px 0;
	margin-left: 4px;
	height: 17px;
	background: #fff;
	background-size: 20px 8px;
	-webkit-background-size: 20px 8px;
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	color: #000;
	text-align: left;
}

.error {
	margin: 3px 0 3px 1px;
	font-size: 12px;
	color: #f00;
	text-align: left;
}

.ps_box.int_id {
	background-position: 100% -57px;
}

.ps_box.int_pass {
	background-position: 100% -476px;
}

.ps_box {
	display: block;
	position: relative;
	height: 27px;
	background: #fff;
	background-size: 97px 900px;
	-webkit-background-size: 97px 900px;
}

.int_id, .int_pass, .int_pass_check, .int_pass_step1, .int_pass_step2,
	.int_pass_step3, .int_pass_step4, .int_pass_check2 {
	padding-right: 95px;
}

.input_id {
	cursor: auto;
	background-attachment: scroll;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

.input_pw {
	cursor: auto;
	background-attachment: scroll;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

input:not ([type] ), input[type="email" i], input[type="number" i],
	input[type="password" i], input[type="tel" i], input[type="url" i],
	input[type="text" i] {
	padding: 1px 0px;
}

input[type="password" i] {
	-webkit-text-security: disc;
}

input, input[type="password" i], input[type="search" i] {
	-webkit-appearance: textfield;
	padding: 1px;
	background-color: white;
	border: 2px inset;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
}

input, textarea, keygen, select, button {
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}

input, textarea, keygen, select, button, meter, progress {
	-webkit-writing-mode: horizontal-tb;
}

.join_birth {
	display: table;
	margin: -1px 0;
}

.join_mobile {
	position: relative;
	overflow: hidden;
}

.join_mobile .int_mobile {
	display: block;
	margin: 0 91px 0 107px;
}

.join_mobile .country_code {
	display: block;
	position: absolute;
	top: 8px;
	left: 10px;
	width: 102px;
	border-right: 1px solid #f0f0f0;
}

.join_mobile_certify {
	position: relative;
}

.int_mobile_certify {
margin-right: 91px;
}
.join_row:FIRST-CHILD {
	border-top: none;
}

.join_row {
	padding: 11px 11px 11px 13px;
	border-top: solid 1px #f0f0f0;
	background: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.join_row .int {
	position: relative;
	z-index: 10;
	padding: 6px 0;
	width: 100%;
	height: 15px;
	border: none;
	background: #fff;
	font-size: 15px;
	font-weight: bold;
	apperance: none;
	-webkit-apperance: none;
}

.join_from .lbl {
	display: block;
	position: absolute;
	top: 5px;
	left: 0;
	z-index: 9;
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	color: #999;
}

.ps_box {
	background: #fff;
}

.ps_box {
	display: block;
	position: relative;
	height: 27px;
	background: #fff;
	background-size: 97px 900px;
	-webkit-background-size: 97px 900px;
}

label {
	cursor: default;
}

.sel {
	background: #fff
		url(https://static.nid.naver.com/images/join/pc/sel_arr.gif) 100% 50%
		no-repeat;
}

.sel {
	width: 100%;
	padding: 6px 8px 6px 0;
	height: 29px;
	border: none;
	border-radius: 0;
	background: #fff
		url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100%
		50% no-repeat;
	background-size: 20px 8px;
	-webkit-background-size: 20px 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	color: #000;
	text-indent: 0.01px;
	text-overflow: '';
}

select {
	-webkit-appearance: menulist;
	box-sizing: border-box;
	align-items: center;
	border: 1px solid;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	color: black;
	background-color: white;
	cursor: default;
}

user agent stylesheetkeygen, select {
	border-radius: 5px;
}