.login_form {
	margin: 0px auto;
	width: 550px;
	background-color: #343434;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 0px 25px black;
}

.login_form .login_here {
	margin-top: 50px;
}

.login_form .login_here label {
	font-size: 45px;
	color: white;
}

.login_form .login_input {
	margin-top: 40px;
	margin-right: 150px;
}

.login_form .login_input div {
	color: white;
	font-size: 14px;
}