body {
	background-color: #f5f6f7;
}

.login_form {
	margin: 0px auto;
	width: 550px;
	padding: 10px;
}

.login_form .login_here img {
	height: 100px;
}

.login_form .login_here label {
	font-size: 40px;
	color: #bf2131;
	font-weight: bolder;
	font-family: 'Nanum Gothic', serif;
}

.login_form .login_input {
	margin-top: 40px;
	margin-bottom: 30px;
}

.login_form .login_input input {
	width: 220px;
	padding: 8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	font-weight: bold;
}

.login_form .login_input textarea {
	width: 220px;
	height: 100px;
	padding: 8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	font-weight: bold;
}

.login_form .login_input div {
	color: white;
	font-size: 14px;
}

.input_row {
	position: relative;
	border: solid 1px #dadada;
	padding: 10px 35px 10px 15px;
	margin: 0 0 10px;
	background: #fff;
	height: 29px;
	width: 400px;
}

.input_box {
	display: block;
}

.lbl {
	position: absolute;
	top: 16px;
	left: 15px;
	z-index: 8;
	font-size: 15;
	color: #999;
	line-height: 16px;
}

.int {
	position: relative;
	width: 100%;
	padding: 7px 0 6px;
	height: 16px;
	z-index: 9;
	border: none;
	background: #fff;
	font-size: 15px;
	color: #000;
	line-height: 16px;
	-webkit-appearance: none;
	font-weight: bold;
}

.info_form {
	width: 440px;
	border-top: solid 1px #e4e4e5;
	margin: 0px auto;
	font-size: 12px;
	padding: 10px;
}

.info_form a {
	color: #999999;
}